@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/*General styles*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*Variables*/
$accent-color: #fed136;
@font-face {
    font-family: sloganFont;
    src: url('../fonts/droid-serif.italic.ttf');
}
@mixin button {
    background-color: $accent-color;
    border: none;
    padding: 20px 50px;
    border-radius: 3px;
    color: white;
    margin-top: 10px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
    &:hover {
        background-color: white;
        color: $accent-color;
    }
}

/*Styles for section: header*/
header {
    height: 100vh;
    color: white;
    position: relative;
    &::before {
        content: "";
        background-size: cover;
        position: absolute;
        display: block;
        height: 100vh;
        background-image: url('../images/background-image.png'); 
        left: 0;
        right: 0;
        z-index: -1;
        filter: brightness(50%);
    }
}
.navbar-inverse {
    background-color: transparent;
    border: none;
    .navbar-nav {
        float: right;
        li a {
            color: inherit;
            font-size: 14px;
            transition: 0.3s;
            &:hover {
                color: $accent-color;
            }
        }
    }
    .navbar-toggle {
        border: none;
        transition: 0.3s;
        &:hover,
        &:focus {
            background-color: $accent-color;
        }
    }
}
.hero {
    margin-top: 30vh;
    h1 {
        font-family: sloganFont;
        font-size: 40px;
        letter-spacing: -1px;
    }
    p {
        font-weight: 700;
        font-size: 75px;
    }
    button {
        @include button;
    }
}
/*Styles for section: services*/
.services h1,
.portfolio h1 {
    font-size: 40px;
    font-weight: 700;
    color: #222222;
}
.services p,
.portfolio p {
    font-family: sloganFont;
    font-size: 16px;
    color: #777777;
}
.services {
    .row {
        margin-top: 100px;
        .col-md-4 {
            padding: 0 20px;
            margin-bottom: 50px;
        }
        .fa {
            font-size: 40px;
            color: $accent-color;
            border: 4px solid $accent-color;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            position: relative;
            &::before {
                width: 70px;
                position: absolute;
                left: 0;
                top: 14px;
            }
        }
        h1 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
            font-family: 'Roboto Slab', serif;
        }
    }
}
/*Styles for section: portfolio*/
.portfolio {
    background-color: #f7f7f7;
    .row {
        .col-md-4 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            img {
                width: 291px;
            }
            h1 {
                font-size: 18px;
                padding-top: 20px;
            }
            p {
                font-size: 14px;
                padding-bottom: 20px;
            }
            h1, p {
                background-color: white;
                margin: 0;
                width: 291px;
            }
            .imageBox {
                width: 291px;
                height: 301px;
                position: relative;
            }
            .layer {
                position: absolute;	
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 1s;
                h4 {
                    visibility: hidden;
                    color: #CCA45D;
                    border: 2px solid #CCA45D;
                    padding: 5px;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                    h4 {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

/*Media queries*/
@media (max-width: 767px) {
    /*Styles for section: header*/
    .header {
        height: auto;
    }
    .navbar-inverse {
        .navbar-nav {
            width: 100%;
            text-align: center;
        }
    }
    .hero {
        margin-top: 7vh;
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 45px;
        }
    }
}